@import "../../../scss/index.scss";

.checkout {
  padding-top: 90px;

  width: 100vw;
  .body {
    width: 90%;
    margin: 20px auto 20px auto;
    border: 1px solid black;
    border-radius: 8px;
    padding: 30px 10px 30px 10px;
    &__product {
      width: 100%;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1.5rem;
      .pro-item__image {
        border-radius: 6px;
      }
    }
    form {
      .MuiFormControl-root {
        width: 100% !important;
      }
      .MuiButtonBase-root {
        width: 100% !important;
        margin-top: 20px;
        padding: 10px 0 10px 0 !important;
        font-size: 12px;
      }
    }
  }
}

@include tablet {
  .checkout {
    padding-top: 130px;
    .body {
      width: 97%;
      display: flex;
      justify-content: space-between;
      &__product {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.5rem;
        .pro-item {
          &__content {
            width: 100%;
          }
          &__price--desktop {
            padding-top: 10px !important;
          }
        }
      }
      form {
        width: 45% !important;
      }
    }
  }
}
