/*
 * scss for general layout authentication in authentication user
 * file: LayoutAuthentication.scss
 */
@include mobile {
  body {
    display: block !important;
  }
  .layout {
    background-color: $main;
    padding: 20px;
    padding-top: 140px;
    &__container {
      max-width: 327px;
      width: 100%;
      background-color: #fff;
      padding: 30px 20px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 10px;
      margin: auto;
      text-align: center;
    }
    &__content {
      margin-bottom: 25px;
    }
    &__title {
      font-weight: 600;
      @include font-size(18px);
      margin-bottom: 6px;
    }
    &__text {
      color: $text-light;
    }
    &__access {
      margin-left: 5px;
      display: inline-block;
      color: $text-primary;
      font-weight: 600;
      transition: all 0.3s ease;
    }
    text-align: left;
    &__forget {
      @include font-size(13px);
      &:hover {
        color: #1a17a2;
      }
      &-content {
        @include font-size(16px);
        text-align: left;
      }
    }
  }
}

@include tablet {
  body {
    display: block !important;
  }
  .layout {
    background-color: $main;

    padding: 80px 24px;
    padding-top: 160px;

    &__container {
      max-width: 550px;
      width: 100%;
      background-color: #fff;
      padding: 30px 63px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 10px;
      margin: auto;
      text-align: center;
    }
    &__content {
      margin-bottom: 25px;
    }
    &__title {
      font-weight: 600;
      @include font-size(18px);
      margin-bottom: 6px;
    }
    &__text {
      color: $text-light;
    }
    &__access {
      margin-left: 5px;
      display: inline-block;
      color: $text-primary;
      font-weight: 600;
      transition: all 0.3s ease;
    }
    &__forget {
      @include font-size(13px);
      &:hover {
        color: #1a17a2;
      }
    }
  }
}

@include desktop {
  .layout {
    padding-top: 180px;
  }
}
