/*
 * scss for shopping basket page
 * file: ShoppingBasket.scss
 */
@include mobile {
  .shopping-basket {
    width: 100vw;
    padding: 90px 24px 55px 24px;
    box-sizing: border-box;
  }
}

@include tablet {
  .shopping-basket {
    padding: 90px 158px 48px 158px;
  }
}

@include desktop {
  .shopping-basket {
    padding: 140px 188px 48px 188px;
  }
}
