/*
 * scss for shopping basket page
 * file: ShoppingBasket.scss
 */
@include mobile {
  .shopping-basket {
    width: 100vw;
    // padding: 36px 24px 55px 24px;
    padding-top: 90px;
    box-sizing: border-box;
  }
}

@include tablet {
  .shopping-basket {
    // padding: 64px 158px 48px 158px;
    padding-top: 90px;
  }
}

@include desktop {
  .shopping-basket {
    // padding: 64px 188px 48px 188px;
    padding: 118px 158px 48px 158px;
  }
}
