
.my-btn {
  width: fit-content;
  border: none;
  cursor: pointer;

  font-family: "Satoshi";
  font-weight: 100;
  font-size: 16px;
  line-height: 150%;

  &:hover {
    background-color: rgb(207, 207, 207) !important;
  }
}
