.productDetail__quantity-number {
  margin: 10px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    max-width: 123px;
  }
  width: 100%;
  padding: 12px 16px;
  background-color: white;
  & > p {
  }
}

.icon {
  width: 12px;
  height: 12px;
  color: #ccc;
  cursor: pointer;
}

span {
  display: inline-block;
}
