.slick-next {
  width: 35px !important;
  height: 60px !important;
  z-index: 10;
  display: flex !important;
  align-items: center;
  right: 0 !important;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.3) !important;
  &:hover {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }
  &::before {
    content: "" !important;
  }
  &.remove {
    display: none !important;
  }
}

.icon__slider {
  color: #fff;
  width: 30px;
  height: 30px;
}
