@include mobile {
  #feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .containerItemFirst {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 5%;
  }

  // First Container Content Style
  .containerContentFirstContainer {
    background-color: $DarkPrimaryColor;
    display: flex;
    flex-direction: column;
    padding: 10% 10%;
    margin-bottom: 3%;
    width: 100%;
    height: 100%;
  }
  .containerContentFirstContainer h4 {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.1px;
    font-family: "Clash Display", sans-serif;
    color: $WhiteColor;
    display: inline-block;
    margin-bottom: 2%;
    font-weight: 800;
  }
  .containerContentFirstContainer p {
    display: inline-block;
    font-size: 0.7em;
    font-weight: 100;
    line-height: 110%;
    font-family: "Satoshi", sans-serif;
    margin-bottom: 15%;
    color: $WhiteColor;
  }
  .imgFirstContainer {
    width: 100%;
    height: 100%;
    margin: 5% 2%;
    object-fit: fill;
  }

  // Second Container Content Style
  .containerItemSecond {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
  }
  .imgSecondContainer {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .containerContentSecond {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 10% 8%;
  }
  .containerContentSecond h4 {
    font-size: 20px;
    line-height: 120%;
    font-weight: 800;
    color: $DarkPrimaryColor;
    margin-bottom: 5%;
    font-family: "clash Display", sans-serif;
    max-width: 80%;
  }
  .paragraphFirst {
    font-size: 14px;
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    line-height: 150%;
  }
  .paragraphSecond {
    margin-bottom: 10%;
    font-size: 14px;
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    line-height: 150%;
  }
}

@include tablet {
  .feature {
    display: block;
  }
  .containerItemFirst {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .imgFirstContainer {
    width: 50%;
    height: 500px !important;
  }
  .containerContentFirstContainer {
    width: 50%;
    height: 500px !important;
    margin-top: 3%;
    display: inline-block;
  }

  .containerContentFirstContainer h4 {
    align-self: flex-start;
    margin-top: -20%;
  }
  .containerContentFirstContainer p {
    width: 100%;
    font-size: 15px;
    line-height: 140%;
    font-family: "Satoshi", sans-serif;
    margin-bottom: 40%;
  }

  // container containerItemSecond
  .containerItemSecond {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .imgSecondContainer {
    height: inherit;
  }
}
