
@include desktop {
  .feature-list {
    flex-direction: row !important;
    article {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        margin-left: 20px;
      }
    }
  }
}
