/*
 * scss for the input using in authentication
 * file: InputUser.scss
 */
.input {
  &__user {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(238, 234, 234);
    border-radius: 10px;
    outline: none;
    padding-right: 50px;
    &:focus {
      outline: 1px solid $text-primary;
    }
  }
  &__error {
    color: red;
    text-align: left;
  }
  &__container {
    position: relative;
    width: 100%;
  }
}
