/*
 * base settings for project
 * file: bases.scss
 */

//Fonts settings

//base settings
:root {
  font-family: "Satoshi", "Clash Display", Helvetica, Arial, sans-serif;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}
// :root {
// 	font-family: "Satoshi", "Clash Display", Helvetica, Arial, sans-serif;
// }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: inherit;
}

body {
  width: 100%;
  font-family: "Clash Display", sans-serif;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 110%;
  box-sizing: border-box;
}

html {
  font-size: 66%;
  min-height: 100vh;
}
