/*
 * variables for scss
 * file: variables.scss
 */


 /*
 * colors
 */
 $main: #2A254B;
 $text-main: #22202E;
 $text-primary: #4E4D93;
 $text-purple: #726E8D;
 $text-normal: #737373;
 $border-grey: #EBE8F4;
 /*
 * sizes
 */
$mobile-width: 320px;
$tablet-width: 1024px;
$desktop-width: 1980px;