
.subscribe-form {
  width: 100%;
  margin-top: 28px;
  input {
    flex: 1;
    padding: 16px;
    border: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $main;
      opacity: 0.2;
    }
  }
}
@include tablet {
  .subscribe-form {
    width: 40%;
  }
}
